@font-face {
    font-family: Lobster;
    src: url(/static/blog/fonts/Lobster-Regular.ttf);
}

h1.blog-post-heading {
    font-family: 'Lobster', cursive;
}

.blog-post {
    margin-bottom: 3em;
}

.blog-post-date {
    color: turquoise;
    float: right;
}

.blog-post-actions {
    float: right;
}

.blog-post-form-save {
    float: right;
}

.blog-post-form textarea,
.blog-post-form input {
    width: 100%;
}
