{% extends "blog/master.html" %}
{% block title %}Блог Django Girls{% endblock %}
{% block extra_title %}Блог Django Girls{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
        {% for post in posts %}
        <article class="post">
            {% if post.author == request_user %}
            <aside class="actions" style="margin-left: 10px">
                <a class="btn btn-secondary" href="{% url 'blog:post_edit' pk=post.pk %}">
                {% include './svg/pencil-fill.svg' %}
                </a>
            </aside>
            {% endif %}
            {% if post.published_date %}
            <time class="date">{{ post.published_date }}</time>
            {% endif %}
            {% if post.author.last_name %}
            <h2>{{ post.title }} (автор: {{ post.author.first_name }} {{ post.author.last_name }})</h2>
            {% elif post.author.first_name %}
            <h2>{{ post.title }} (автор: {{ post.author.first_name }})</h2>
            {% else %}
            <h2>{{ post.title }}</h2>
            {% endif %}
            {% if post.is_cut %}
            <p>
                {{ post.cut }}
                <a href="{% url 'blog:post_detail' pk=post.pk %}">Читать далее...</a>
            </p>
            {% else %}
            <p>{{ post.text }}</p>
            {% endif %}
        </article>
        {% endfor %}
        </div>
    </div>
{% endblock content %}