{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'gto/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'gto/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'gto/css/main.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="page-header">
        <h1>ВФСК ГТО</h1>
    </header>
    <main class="container">{% block content %}{% endblock %}</main>
</body>
</html>